@charset "utf-8";
@font-face {
    font-family: 'Alexandria';
    src: url('../font/Alexandria/Alexandria-Bold.eot');
    src: url('../font/Alexandria/Alexandria-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Alexandria/Alexandria-Bold.woff2') format('woff2'),
        url('../font/Alexandria/Alexandria-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alexandria';
    src: url('../font/Alexandria/Alexandria-ExtraBold.eot');
    src: url('../font/Alexandria/Alexandria-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Alexandria/Alexandria-ExtraBold.woff2') format('woff2'),
        url('../font/Alexandria/Alexandria-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alexandria';
    src: url('../font/Alexandria/Alexandria-Black.eot');
    src: url('../font/Alexandria/Alexandria-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/Alexandria/Alexandria-Black.woff2') format('woff2'),
        url('../font/Alexandria/Alexandria-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alexandria';
    src: url('../font/Alexandria/Alexandria-Medium.eot');
    src: url('../font/Alexandria/Alexandria-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Alexandria/Alexandria-Medium.woff2') format('woff2'),
        url('../font/Alexandria/Alexandria-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alexandria';
    src: url('../font/Alexandria/Alexandria-Regular.eot');
    src: url('../font/Alexandria/Alexandria-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Alexandria/Alexandria-Regular.woff2') format('woff2'),
        url('../font/Alexandria/Alexandria-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alexandria';
    src: url('../font/Alexandria/Alexandria-SemiBold.eot');
    src: url('../font/Alexandria/Alexandria-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Alexandria/Alexandria-SemiBold.woff2') format('woff2'),
        url('../font/Alexandria/Alexandria-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alexandria';
    src: url('../font/Alexandria/Alexandria-ExtraLight.eot');
    src: url('../font/Alexandria/Alexandria-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../font/Alexandria/Alexandria-ExtraLight.woff2') format('woff2'),
        url('../font/Alexandria/Alexandria-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alexandria';
    src: url('../font/Alexandria/Alexandria-Light.eot');
    src: url('../font/Alexandria/Alexandria-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Alexandria/Alexandria-Light.woff2') format('woff2'),
        url('../font/Alexandria/Alexandria-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alexandria';
    src: url('../font/Alexandria/Alexandria-Thin.eot');
    src: url('../font/Alexandria/Alexandria-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/Alexandria/Alexandria-Thin.woff2') format('woff2'),
        url('../font/Alexandria/Alexandria-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: #f5f5f5;
    color: #333;
    position: relative;
    font-family: 'alexandria';
}
.header{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #00BBFF;
}
.header .top-bar{
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.header .top-bar p{
    color: #f5f5f5;
    font-size: 15px;
}
.header_fixed{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}
.header .main-bar{
    max-width: 1920px;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    border-radius: 30px 30px 0 0;
    padding: 0 30px;
    position: relative;
}
.header .main-bar .left-nav .gnb{
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.header .main-bar .left-nav .gnb li{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.header .main-bar .logo{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.header .main-bar .right-nav .gnb{
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.header .main-bar .right-nav .gnb li{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.banner{
    width: 100%;
    margin: 180px auto 120px;
}
.banner .swiper-wrapper{
    width: 1252px;
    margin: 0 auto;
    position: relative;
}
.banner .swiper-slide{
    height: 626px;
    display: flex;
    border-radius: 30px;
}
.banner .swiper-slide img{
    width: 626px;
    height: 626px;
    object-fit: cover;
    border-radius: 30px 0 0 30px;
}
.banner .swiper-slide .slide-text{
    width: 626px;
    height: 626px;
    text-align: center;
}
.banner .swiper-slide .slide-text h2{
    font-size: 48px;
    font-weight: bold;
    margin-top: 150px;
    margin-bottom: 24px;
}
.banner .swiper-slide .slide-text p{
    font-size: 24px;
    margin-bottom: 60px;
}
.banner .swiper-slide .slide-text span{
    height: 80px;
    background-color: #f5f5f5;
    color: #333;
    line-height: 80px;
    font-size: 24px;
    font-weight: bold;
    padding: 25px 30px;
    border-radius: 50px;
}
.banner .swiper-slide.slide-01{
    background-color: #ffC2C2;
    color: #fff;
}
.banner .swiper-slide.slide-02{
    background-color: #F17AAC;
    color: #fff;
}
.banner .swiper-slide.slide-03{
    background-color: #00BBFF;
    color: #fff;
}
.banner .swiper-slide.slide-04{
    background-color: #1C3659;
    color: #fff;
}
.banner .swiper-slide.slide-05{
    background-color: #D9D9D9;
    color: #fff;
}
.banner .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.banner .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 12px;
}
.banner .swiper-pagination{
    position: static;
    margin-top: 40px;
}
.banner .swiper-pagination-bullet{
    background-color: rgb(161, 161, 161);
    width: 16px;
    height: 16px;
}
.banner .swiper-pagination-bullet-active:nth-child(1){
    width: 64px;
    height: 16px;
    border-radius: 10px;
    background-color: #ffC2C2;
}
.banner .swiper-pagination-bullet-active:nth-child(2){
    width: 64px;
    height: 16px;
    border-radius: 10px;
    background-color: #F17AAC;
}
.banner .swiper-pagination-bullet-active:nth-child(3){
    width: 64px;
    height: 16px;
    border-radius: 10px;
    background-color: #00BBFF;
}
.banner .swiper-pagination-bullet-active:nth-child(4){
    width: 64px;
    height: 16px;
    border-radius: 10px;
    background-color: #1C3659;
}
.banner .swiper-pagination-bullet-active:nth-child(5){
    width: 64px;
    height: 16px;
    border-radius: 10px;
    background-color: #D9D9D9;
}


.main .collection{
    width: 1252px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 160px;
}
.main .collection h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 60px;
}
.main .collection .list{
    display: flex;
}
.main .collection .list .item img{
    width: 192px;
    height: 192px;
    object-fit: cover;
    margin-bottom: 20px;
}
.main .collection .list .item p{
    font-size: 18px;
}

.find-your-swell{
    width: 100%;
    height: 100vh;
    background: #EEAECA;
    margin-bottom: 160px;
}
.main .find-your-swell .inner{
    width: 1252px;
    margin: 0 auto;
}
.main .find-your-swell .logo{
    padding: 50px 40px;
}
.main .find-your-swell .inner .slide-info{
    text-align: center;
}
.main .find-your-swell .inner .slide-info h2{
    font-size: 48px;
    margin-bottom: 20px;
}
.main .find-your-swell .inner .slide-info p{
    font-size: 20px;
}
.main .find-your-swell .inner .swiper-wrapper{
    margin: 60px auto;
}
.main .find-your-swell .inner .swiper-slide{
    text-align: center;
}   
.main .find-your-swell .inner .swiper-slide:nth-child(1) img{
    width: 156px;
    height: 154px;
    object-fit: cover;
}

.best-item{
    width: 1252px;
    margin: 0 auto;
    margin-bottom: 160px;
}
.best-item h2{
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
}
.best-item .period{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 30px;
}
.best-item .period li{
    height: 43px;
    line-height: 43px;
    background-color: #fff;
    padding: 0 20px;
    border-radius: 30px;
    font-size: 18px;
    border: 1px solid #d9d9d9;
}
.best-item .list{
    width: 1252px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.best-item img{
    width: 404px;
    border-radius: 30px;
}
.best-item .best-item-text{
    padding: 10px;
}
.best-item .best-item-text p{
    margin-bottom: 10px;
    font-size: 20px;
}
.best-item .best-item-text h3{
    margin-bottom: 30px;
    font-size: 20px;
}
.best-item .best-item-text span{
    color: #0034FF;
}
.best-item .more-btn{
    width: 1252px;
    height: 80px;
    display: block;
    background-color: #0034FF;
    text-align: center;
    color: #fff;
    line-height: 80px;
    border-radius: 50px;
    font-size: 25px;
}

.animated-title {
  font-size: 48px;
  font-family: 'alexandria';
  font-weight: 900;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 80px;
  line-height: 100px;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #0034FF;
  color: #FCFF5A;
  margin-bottom: 160px;
  display: flex;
  justify-content: center;
}

.animated-title img{
    width: 40px;
    height: 40px;
}

.animated-title .track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 60s linear infinite;
}
.animated-title .content {
	display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    font-weight:bold;
    display: flex;
    align-items: center;
}
.animated-title .content .flow-rwap{
    margin: 0 20px;
}
.content:hover {
    color: #fff;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@media (hover: hover) and (min-width: 700px) {
  .animated-title .content {
    -webkit-transform: translateY(calc(100% - 8rem));
    transform: translateY(calc(100% - 8rem));
  }
}

.main .new-in{
    width: 1879px;
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 160px;
}
.new-in .new-in-left .new-in-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.new-in .new-in-left .new-in-text h2{
    font-size: 220px;
    line-height: 100%;
    margin-bottom: 30px;
}
.new-in .new-in-left .new-in-text span{
    font-size: 48px;
    color: #0034FF;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}
.new-in .new-in-left .new-in-text span::after{
    content: '';
    width: 561px;
    height: 6px;
    display: block;
    background-color: #0034FF;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0 10px;
}
.new-in .new-in-left .new-in-text p{
    font-size: 16px;
    margin-bottom: 30px;
}
.new-in .new-in-left .product-info img{
    width: 86px;
    border-radius: 10px;
}
.new-in .new-in-left .product-info{
    display: flex;
}
.new-in .new-in-left .product-info .product-text{
    padding: 10px 20px;
}
.new-in .new-in-left .product-info .product-text .product-name{
    font-size: 20px;
    margin-bottom: 8px;
}
.new-in .new-in-left .product-info .product-text .product-price{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}
.new-in .new-in-left .product-info .product-text span{
    font-size: 16px;
    color: #0034FF;
}
.new-in-right{
    width: 100%;
    margin-left: 55px;
}
.new-in-right .swiper-wrapper{
    width: 1252px;
    position: relative;
}
.new-in-right .swiper-slide{
    height: 722px;
}
.new-in-right .swiper-slide img{
    width: 616px;
    height: 722px;
    object-fit: cover;
    border-radius: 30px;
}
.new-in .swiper-button-prev,
.new-in .swiper-rtl .swiper-button-next{
    width: 70px;
    background: url(../img/left.png ) center center / 100% no-repeat;
    color: #fff;
}
.new-in .swiper-button-next,
.new-in .swiper-rtl .swiper-button-prev{
    width: 70px;
    background: url(../img/right.png ) center center / 100% no-repeat;
    left: 546px;
    right: auto;
    color: #fff;
}
.new-in .swiper-button-prev:after,
.new-in .swiper-rtl .swiper-button-next:after{
    display: none;
}
.new-in .swiper-button-next:after,
.new-in .swiper-rtl .swiper-button-prev:after{
    display: none;
}

.promotion{
    width: 1252px;
    margin: 0 auto;
    margin-bottom: 160px;
}
.promotion .promotion-main-text{
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
}
.promotion .list{
    display: flex;
    column-gap: 20px;
    margin-bottom: 60px;
    justify-content: center;
}
.promotion .list .item-01{
    width: 848px;
    height: 486px;
    background-color: #F0F0F0;
    border-radius: 30px;
    padding: 30px 0;
    text-align: center;
}
.promotion .list .item-01 .promotion-text-01{
    font-size: 40px;

}
.promotion .list .item-01 img{
    width: 446px;
    height: 332px;
    object-fit: cover;
    border-radius: 30px;
    margin-bottom: 10px;
}
.promotion .list .item-01 p{
    font-size: 17px;
}
.promotion .list .item-02{
    position: relative;
}
.promotion .list .item-02 img{
    width: 384px;
    height: 486px;
    border-radius: 30px;
}
.promotion .list .item-02 .promotion-text-02{
    width: 314px;
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.promotion .list .item-02 p{
    width: 314px;
    position: absolute;
    left: 50%;
    top: 63%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.promotion .more-btn{
    width: 1252px;
    height: 80px;
    display: block;
    background-color: #0034FF;
    text-align: center;
    color: #fff;
    line-height: 80px;
    border-radius: 50px;
    font-size: 25px;
}